<uDateFoldersySettings>
    <DateFolders enabled="true">
        <!--- csv of doc type aliases which are the roots of where date folders should go (eg. news, blog)-->
        <RootDocTypeAliases>uBlogsyLanding</RootDocTypeAliases>
        
        <!-- enables month folders -->
        <YearFolders enabled="true" docTypeAlias="uDateFoldersyFolderYear"/>

        <!-- enables month folders... note: this setting will not apply if year folders are disabled -->
        <MonthFolders enabled="true" docTypeAlias="uDateFoldersyFolderMonth"/>

        <!-- enables day folders... note: this setting will not apply if month folders are disabled -->
        <DayFolders enabled="true" docTypeAlias="uDateFoldersyFolderDay"/>

        <!-- csv of doc type aliases which will be put into folders -->
        <TargetDocTypeAliases>uBlogsyPost</TargetDocTypeAliases>

        <!-- the date property - must be a date type -->
        <DatePropertyAlias>uBlogsyPostDate</DatePropertyAlias>

        <FolderNameFormat>
            <!-- Valid values: M MM MMM MMMM == 3 03 Mar March -->
            <MonthFormat>MMMM</MonthFormat> 
        
            <!-- Valid formats: d dd == 9 09 -->
            <DayFormat>dd</DayFormat>
        </FolderNameFormat>
    </DateFolders>

</uDateFoldersySettings>