<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1050" key="eaae9c5a-df1c-4844-ab2e-7c9e23e23c27" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-09-03T11:23:03" updateDate="2016-09-03T11:23:03" nodeName="Homepage" urlName="homepage" path="-1,1050" isDoc="" nodeType="1047" creatorName="zhdan88vadim@gmail.com" writerName="zhdan88vadim@gmail.com" writerID="0" template="1046" nodeTypeAlias="homePage">
    <pageTitle><![CDATA[Welcome to Widgets Ltd]]></pageTitle>
    <bodyText><![CDATA[<p><span>Hello world! We can write what we like here!</span></p>]]></bodyText>
    <footer><![CDATA[Copyright Widgets Ltd 2014]]></footer>
  </homePage>
</root>