@*
    Footer.
*@
@inherits UmbracoTemplatePage
@{
    <footer id="uBlogsy_footer" class="uBlogsy_font_style41">
        <details class="uBlogsy_footer_details" open>
            <summary>Powered by uBlogsy and Umbraco</summary>
            <div class="uBlogsy_footer_text">Created by <a class="uBlogsy_font_style50" href="http://anthonydotnet.blogspot.com">Anthony Dang</a></div>
        </details>
    </footer>
}
